<p-dialog [(visible)]="editDialog" [style]="{width: '450px'}" header="Modifier vos informations" [modal]="true"
          styleClass="p-fluid">
    <p-toast></p-toast>
    <ng-template pTemplate="content">
        <div class="p-field">
            <label for="nom">Nom</label>
            <input type="text" pInputText id="nom" [(ngModel)]="selected.nom"/>
        </div>
        <div class="p-field">
            <label for="prenom">Prenom</label>
            <input type="text" pInputText id="prenom" [(ngModel)]="selected.prenom"/>
        </div>
        <div class="p-field">
            <label for="login">login</label>
            <input type="text" pInputText id="login" [(ngModel)]="selected.login"/>
        </div>
        <div class="p-field">
            <label for="phone">Telephonne</label>
            <input type="text" pInputText id="phone" [(ngModel)]="selected.phone"/>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-text"
                (click)="hideEditDialog()"></button>
        <button pButton pRipple label="Mise à jour" icon="pi pi-check" class="p-button-text " (click)="edit()"></button>
    </ng-template>
</p-dialog>



