<p-dialog [(visible)]="editDialog" [style]="{width: '450px'}" header="Modifier une agence" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-grid">
            <div class="p-field p-sm-6">
                <label for="ref">Code</label>
                <input type="text" pInputText id="ref" [(ngModel)]="selected.code"  disabled required autofocus />
            </div>
            <div class="p-field p-sm-6">
                <label for="total">Libelle</label>
                <input type="text" pInputText id="total" [(ngModel)]="selected.libelle" required autofocus />
                <small class="p-invalid" *ngIf="submitted && !selected.libelle">total is required.</small>
            </div>
        </div>
        <div class="p-grid">
            <div class="p-field p-sm-6">
                <label>Chef Agence</label>
                <p-dropdown [options]="itemsChef"   [(ngModel)]="selected.chefAgence" placeholder="Select a Chef" optionLabel="prenom" [showClear]="true"></p-dropdown>
            </div>
            <div class="p-field p-sm-6">
                <label>Etat Agence</label>
                <p-dropdown [options]="itemsEtat"   [(ngModel)]="selected.etatAgence" placeholder="Select an etat" optionLabel="libelle" [showClear]="true"></p-dropdown>
            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-text" (click)="hideEditDialog()"></button>
        <button pButton pRipple label="Modifier" icon="pi pi-check" class="p-button-text" (click)="edit()"></button>
    </ng-template>
</p-dialog>
