<p-panel header="Recherche des messages" [toggleable]="true">

    <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col">
            <label>Etat Message</label>
            <p-dropdown [options]="itemsEtatMessage" [showClear]="true" optionLabel="libelle" optionValue="id"
                        [(ngModel)]="messageVo.etatMessageId" placeholder="choisir un etat"></p-dropdown>
        </div>
        <div class="p-field p-col">
            <label>Date Min</label>
            <p-calendar [showIcon]="true" inputId="icon" dateFormat="dd/mm/yy"
                        [(ngModel)]="messageVo.dateMin"></p-calendar>
        </div>
        <div class="p-field p-col">
            <label>Date Max</label>
            <p-calendar [showIcon]="true" inputId="icon" dateFormat="dd/mm/yy"
                        [(ngModel)]="messageVo.dateMax"></p-calendar>
        </div>
    </div>
    <div class="p-card-footer">
        <button pButton pRipple type="button" label="Rechercher" icon="pi pi-search" class="p-mr-2 p-mb-2"
                (click)="search()"></button>
        <button pButton pRipple type="button" label="Exporter" icon="pi pi-upload" class="p-mr-2 p-mb-2"></button>
    </div>

</p-panel>
