<p-dialog [(visible)]="viewDialog" [style]="{width: '70%'}" header="Groupe Tache Details" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-grid">
            <div class="p-field p-sm-3">
                <label for="code">Code</label>
                <input type="text" pInputText id="code" [(ngModel)]="selected.code" required autofocus readonly />
            </div>
            <div class="p-field p-sm-3">
                <label for="total">Libelle</label>
                <input type="text" pInputText id="total" [(ngModel)]="selected.libelle" required autofocus readonly />
            </div>
            <div class="p-field p-sm-3">
                <label for="totale">Desctiption</label>
                <input type="text" pInputText id="totale" [(ngModel)]="selected.description" required autofocus readonly />
            </div>
            <div class="p-field p-sm-3">
                <label for="avancement">Avancement</label>
                <input type="number" pInputText id="avancement" [(ngModel)]="selected.avancement" required autofocus readonly />
            </div>
        </div>
        <div class="p-grid">
            <div class="p-field p-sm-3">
                <label for="datedemarre">Date Démarrage Effective</label>
                <input type="date" pInputText id="datedemarre" [(ngModel)]="selected.dateDemarrageEffective" required autofocus readonly />
            </div>
            <div class="p-field p-sm-3">
                <label for="datedemarrep">Date Démarrage Prévu</label>
                <input type="date" pInputText id="datedemarrep" [(ngModel)]="selected.dateDemarragePrevu" required autofocus readonly />
            </div>
            <div class="p-field p-sm-3">
                <label for="datefin">Date Fin Effective</label>
                <input type="date" pInputText id="datefin" [(ngModel)]="selected.dateFinEffective" required autofocus readonly />
            </div>
            <div class="p-field p-sm-3">
                <label for="datefinp">Date Fin Prévu</label>
                <input type="date" pInputText id="datefinp" [(ngModel)]="selected.dateFinPrevu" required autofocus readonly />
            </div>
        </div>
        <div class="p-grid">
            <div class="p-field p-sm-3">
                <label for="equipe">Equipe</label>
                <input type="text" pInputText id="equipe" value="{{selected.equipe.libelle}}" readonly />
            </div>
            <div class="p-field p-sm-3">
                <label for="lot">Lot</label>
                <input type="text" pInputText id="lot"  value="{{selected.lot.libelle}}"  readonly />

            </div>
            <div class="p-field p-sm-3">
                <label for="etat">Etat</label>
                <input type="text" pInputText id="etat" value="{{selected.etatGroupeTache.libelle}}" readonly />
            </div>
            <div class="p-field p-sm-3">
                <label for="categorie">Catégorie</label>
                <input type="text" pInputText id="categorie" value="{{selected.categorieGroupeTache.libelle}}" readonly />
            </div>
        </div>
        <div class="p-grid">
            <div class="p-field p-sm-3">
                <label for="poids">Poids</label>
                <input type="number" pInputText id="poids" [(ngModel)]="selected.poids" required autofocus readonly />
            </div>
            <div class="p-field p-sm-3">
                <label for="nombreJoureHommeEffectif">NbrJrsEffectif</label>
                <input type="number" pInputText id="nombreJoureHommeEffectif" [(ngModel)]="selected.nombreJoureHommeEffectif" required autofocus readonly />
            </div>
            <div class="p-field p-sm-3">
                <label for="nombreJoureHommePrevu">NbrJrsPrevu</label>
                <input type="number" pInputText id="nombreJoureHommePrevu" [(ngModel)]="selected.nombreJoureHommePrevu" required autofocus readonly />
            </div>
            <div class="p-field p-sm-3">
                <label for="nombreJoureHommeRetard">NbrJrsRetard</label>
                <input type="text" pInputText id="nombreJoureHommeRetard" [(ngModel)]="selected.nombreJoureHommeRetard" required autofocus readonly />
            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Fermer" icon="pi pi-times" class="p-button-text" (click)="hideViewDialog()"></button>
    </ng-template>
</p-dialog>
