<p-dialog [(visible)]="editDialog" [style]="{width: '450px'}" header="Modifier un client" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-grid">
            <div class="p-field p-sm-6">
                <label for="ref">Code</label>
                <input type="text" pInputText id="ref" [(ngModel)]="selected.code" disabled required autofocus />
            </div>
            <div class="p-field p-sm-6">
                <label for="total">Libelle</label>
                <input type="text" pInputText id="total" [(ngModel)]="selected.libelle" required autofocus />
                <small class="p-invalid" *ngIf="submitted && !selected.libelle">total is required.</small>
            </div>
        </div>
        <div class="p-grid">
            <div class="p-field p-sm-6">
                <label >Entreprise</label>
                <p-dropdown [options]="itemsEntreprise"  [(ngModel)]="selected.entreprise" placeholder="Select a Company" optionLabel="libelle" [showClear]="true"></p-dropdown>
            </div>
        </div>
        <div class="p-formgrid p-grid">
            <div class="p-field p-col">
                <label for="descrip">Description</label>
                <textarea id="descrip" [rows]="5" [cols]="30" pInputTextarea autoResize="autoResize" [(ngModel)]="selected.description">
                </textarea>
            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-text" (click)="hideEditDialog()"></button>
        <button pButton pRipple label="Modifier" icon="pi pi-check" class="p-button-text" (click)="edit()"></button>
    </ng-template>
</p-dialog>
