<p-dialog [(visible)]="viewDialog" [style]="{width: '450px'}" header="Les détails" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-grid">
            <div class="p-field p-sm-6">
                <label for="ref">Code</label>
                <input type="text" pInputText id="ref" [(ngModel)]="selected.code" disabled required autofocus />
            </div>
            <div class="p-field p-sm-6">
                <label for="total">Libelle</label>
                <input type="text" pInputText id="total" [(ngModel)]="selected.libelle" disabled required autofocus />
            </div>
        </div>
        <div class="p-grid">
            <div class="p-field p-sm-6">
                <label >Entreprise</label>
                <input type="text" pInputText  [(ngModel)]="selected.entreprise.libelle" disabled required autofocus />
            </div>
        </div>
        <div class="p-formgrid p-grid">
            <div class="p-field p-col">
                <label for="descrip">Description</label>
                <textarea id="descrip" [rows]="5" [cols]="30" pInputTextarea autoResize="autoResize" disabled [(ngModel)]="selected.description">
                </textarea>
            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-text" (click)="hideViewDialog()"></button>
    </ng-template>
</p-dialog>
