<div class="p-grid" *ngIf="items">
    <div class="p-col-12" *ngIf="items.length>0">
        <div class="card">
            <p-table #dt [value]="items" [columns]="cols" [rows]="8" [paginator]="true"
                     [globalFilterFields]="['equipe']"
                     [rowHover]="true" dataKey="id"
                     styleClass="p-datatable-customers"
                     currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                     [showCurrentPageReport]="true">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                        <h5 class="p-m-0">Equipes</h5>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="equipe">Equipe
                            <p-sortIcon field="equipe"></p-sortIcon>
                        </th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-selectedProjet>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="selectedProjet"></p-tableCheckbox>
                        </td>
                        <td>{{selectedProjet.equipe.libelle}}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        In total there are {{items ? items.length : 0 }} items.
                    </div>
                </ng-template>
            </p-table>
        </div>
        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    </div>
    <div class="p-card-title" *ngIf="items.length==0">
        <p-message severity="error" text="Il n'a pas des equipes dans ce projet"></p-message>
    </div>
</div>
