<div class="p-grid">
    <p-toast></p-toast>
    <div class="p-col-12">
        <div class="card">
            <p-toolbar styleClass="p-mb-4">
                <ng-template pTemplate="left">
                    <button pButton pRipple label="Supprimer" icon="pi pi-trash" class="p-button-danger p-mb-2" (click)="deleteMultiple()" [disabled]="!selectes || !selectes.length"></button>
                </ng-template>
                <ng-template pTemplate="right">
                    <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Importer" class="p-mr-2 p-mb-2 p-d-inline-block"></p-fileUpload>
                    <button pButton pRipple label="Exporter" icon="pi pi-upload" class="p-button-help p-mb-2" (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="items" [columns]="cols" [rows]="4" [paginator]="true" [globalFilterFields]="['libelle']"
                     [(selection)]="selectes" [rowHover]="true" dataKey="id"
                     styleClass="p-datatable-customers"
                     currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                        <h5 class="p-m-0">Taches</h5>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="membreEquipe">MembreEquipe <p-sortIcon field="membreEquipe"></p-sortIcon></th>
                        <th pSortableColumn="dateDemarrageEffective">Date<p-sortIcon field="dateDemarrageEffective"></p-sortIcon></th>
                        <th pSortableColumn="periode">Periode <p-sortIcon field="periode"></p-sortIcon></th>
                        <th pSortableColumn="libelle">Libelle <p-sortIcon field="libelle"></p-sortIcon></th>
                        <th pSortableColumn="groupeTache">GroupeTache <p-sortIcon field="groupeTache"></p-sortIcon></th>
                        <th pSortableColumn="categorieTache">CategorieTache <p-sortIcon field="categorieTache"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-selected>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="selected"></p-tableCheckbox>
                        </td>
                        <td>{{selected.membreEquipe.collaborateur.nom}} {{selected.membreEquipe.collaborateur.prenom}}</td>
                        <td>{{selected.dateDemarrageEffective}}</td>
                        <td>{{selected.periode.libelle}}</td>
                        <td>{{selected.libelle}}</td>
                        <td>{{selected.groupeTache.libelle}}</td>
                        <td>{{selected.categorieTache.libelle}}</td>

                        <td>
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="edit(selected)"></button>
                            <button  pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger p-mr-2"(click)="delete(selected)"></button>

                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        In total there are {{items ? items.length : 0 }} items.
                    </div>
                </ng-template>
            </p-table>
        </div>
        <app-edite-tache></app-edite-tache>
        <p-confirmDialog [style]="{width: '450px'}" key="tache"></p-confirmDialog>
    </div>
</div>
