<div class="p-grid">
    <div class="p-col-12">

        <p-toast></p-toast>

        <div class="card">
            <p-toolbar styleClass="p-mb-4">
                <ng-template pTemplate="left">
                    <button pButton pRipple label="Nouveau" icon="pi pi-plus" class="p-button-success p-mr-2 p-mb-2" (click)="openCreate()"></button>
                    <button pButton pRipple label="Supprimer" icon="pi pi-trash" class="p-button-danger p-mb-2" (click)="deleteMultiple()" [disabled]="!selectes || !selectes.length"></button>
                </ng-template>

                <ng-template pTemplate="right">
                    <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Importer" chooseLabel="Import" class="p-mr-2 p-mb-2 p-d-inline-block"></p-fileUpload>
                    <button pButton pRipple label="Exporter" icon="pi pi-upload" class="p-button-help p-mb-2" (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="items" [columns]="cols" [rows]="4" [paginator]="true" [globalFilterFields]="['code','libelle']"
                     [(selection)]="selectes" [rowHover]="true" dataKey="id"
                     styleClass="p-datatable-customers"
                     currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                        <h5 class="p-m-0">Groupes Des Taches</h5>
                        <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text"  placeholder="Rechercher..." />
                    </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="libelle">Libelle <p-sortIcon field="libelle"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-groupeTache>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="groupeTache"></p-tableCheckbox>
                        </td>
                        <td>{{groupeTache.libelle}}</td>
                        <td>
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-sm p-button-rounded p-button-warning p-mr-2" (click)="edit(groupeTache)"></button>
                            <button pButton pRipple icon="pi pi-list" class="p-button-sm p-button-rounded p-button-info p-mr-2" (click)="view(groupeTache)"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-sm p-button-rounded p-button-danger p-mr-2" (click)="delete(groupeTache)"></button>
                            <button pButton pRipple icon="pi pi-eye" class="p-button-sm p-button-rounded p-button-help" (click)="findItems(groupeTache)"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        In total there are {{items ? items.length : 0 }} items.
                    </div>
                </ng-template>
            </p-table>
        </div>

        <app-admin-groupe-tache-create></app-admin-groupe-tache-create>
        <app-admin-groupe-tache-edit></app-admin-groupe-tache-edit>
        <app-admin-groupe-tache-view></app-admin-groupe-tache-view>
        <p-confirmDialog [style]="{width: '450px'}" key="grpTache"></p-confirmDialog>
    </div>
</div>
