<p-panel header="Recherche" [toggleable]="true">

    <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col">
            <label>Client</label>
            <p-dropdown [options]="clients" [showClear]="true" [filter]="true" filterBy="libelle"  optionLabel="libelle" placeholder="choisir Client" optionValue="id" [(ngModel)]="selected.clientId" (onChange)="loadProject()">
            </p-dropdown>
        </div>
        <div class="p-field p-col">
            <label>Projet</label>
            <p-dropdown [options]="projects" [showClear]="true" [filter]="true" filterBy="libelle" optionLabel="libelle" placeholder="choisir Projet" optionValue="id" [(ngModel)]="selected.projetId" (onChange)="loadLots()"></p-dropdown>
        </div>
        <div class="p-field p-col">
            <label>Lot</label>
            <p-dropdown [options]="lots" [showClear]="true" [filter]="true" filterBy="libelle" placeholder="choisir Lot" optionLabel="libelle"></p-dropdown>
        </div>
        <div class="p-field p-col">
            <label>Equipe</label>
            <p-dropdown [options]="equipes" [showClear]="true"  [filter]="true" filterBy="libelle" optionLabel="libelle" placeholder="choisir Equipe"
                        optionValue="id" [(ngModel)]="selected.equipeId" (onChange)="loadMembreEquipe()"></p-dropdown>
        </div>
        <div class="p-field p-col">
            <label>Collaborateur</label>
            <p-dropdown [options]="membreEquipes" [showClear]="true" [filter]="true" filterBy="nom"
                        optionValue="id" [(ngModel)]="selected.membreEquipeId">
                <ng-template let-membreEquipe pTemplate="item">
                    <div>{{membreEquipe.collaborateur.nom}} {{membreEquipe.collaborateur.prenom}}</div>
                </ng-template>
                <ng-template pTemplate="selectedItem">
                    <div *ngIf="selected.membreEquipeId == null">choisir membre</div>
                    <div *ngIf="selected.membreEquipeId">
                        {{membreEquipes[findSelectedMember(selected.membreEquipeId)].collaborateur.nom}}
                        {{membreEquipes[findSelectedMember(selected.membreEquipeId)].collaborateur.prenom}}
                    </div>
                </ng-template>
            </p-dropdown>
        </div>
        <div class="p-field p-col">
            <label>DateMin</label>
            <p-calendar [showIcon]="true" inputId="icon" [(ngModel)]="selected.dateDemarrageEffectiveMin"></p-calendar>
        </div>
        <div class="p-field p-col">
            <label>DateMax</label>
            <p-calendar [showIcon]="true" inputId="icon" [(ngModel)]="selected.dateDemarrageEffectiveMax"></p-calendar>
        </div>
    </div>
    <div class="p-card-footer">
        <button pButton pRipple type="button" label="Rechercher" icon="pi pi-search" class="p-mr-2 p-mb-2"
                (click)="search()"></button>
        <button pButton pRipple type="button" label="Exporter" icon="pi pi-upload" class="p-mr-2 p-mb-2"></button>
    </div>
</p-panel>
