<p-dialog [(visible)]="viewDialog" (click)="findItems(selected)" [style]="{width: '70%'}" header="Projet Details" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView orientation="left">
            <p-tabPanel header="Projet" leftIcon="pi pi-check">
                <div class="p-grid">
                    <div class="p-field p-sm-4">
                        <label for="code">Code</label>
                        <input type="text" pInputText id="code" [(ngModel)]="selected.code" readonly/>
                    </div>
                    <div class="p-field p-sm-4">
                        <label for="libelle">Libelle</label>
                        <input type="text" pInputText id="libelle" [(ngModel)]="selected.libelle" readonly/>
                    </div>
                    <div class="p-field p-sm-4">
                        <label for="totale">Description</label>
                        <input type="text" pInputText id="totale" [(ngModel)]="selected.description" readonly/>
                    </div>
                </div>
                <div class="p-grid">
                    <div class="p-field p-sm-3">
                        <label for="datedemarre">Date Démarrage Effective</label>
                        <input type="date" pInputText id="datedemarre" [(ngModel)]="selected.dateDemarrageEffective" readonly autofocus/>
                    </div>
                    <div class="p-field p-sm-3">
                        <label for="datedemarrep">Date Démarrage Prévu</label>
                        <input type="date" pInputText id="datedemarrep" [(ngModel)]="selected.dateDemarragePrevu" required
                               autofocus readonly/>
                    </div>
                    <div class="p-field p-sm-3">
                        <label for="datefin">Date Fin Effective</label>
                        <input type="date" pInputText id="datefin" [(ngModel)]="selected.dateFinEffective" readonly/>
                    </div>
                    <div class="p-field p-sm-3">
                        <label for="datefinp">Date Fin Prévu</label>
                        <input type="date" pInputText id="datefinp" [(ngModel)]="selected.dateFinPrevu" readonly/>
                    </div>
                </div>
                <div class="p-grid">
                    <div class="p-field p-sm-3">
                        <label for="client">Client </label>
                        <input type="text" pInputText id="client" value="{{selected.client.libelle}}" readonly />
                    </div>
                    <div class="p-field p-sm-3">
                        <label for="agence">Agence </label>
                        <input type="text" pInputText id="agence" value="{{selected.agence.libelle}}" readonly />
                    </div>
                    <div class="p-field p-sm-3">
                        <label for="etat">Etat</label>
                        <input type="text" pInputText id="etat" value="{{selected.etatProjet.libelle}}" readonly />
                    </div>
                    <div class="p-field p-sm-3">
                        <label for="res">Responsable </label>
                        <input type="text" pInputText id="res" value="{{selected.responsable.nom}} {{selected.responsable.prenom}}" readonly />
                    </div>

                </div>
                <div class="p-grid">
                    <div class="p-field p-sm-4">
                        <label for="nombreJoureHommeEffectif">NbrJrsEffectif</label>
                        <input type="number" pInputText id="nombreJoureHommeEffectif"
                               [(ngModel)]="selected.nombreJoureHommeEffectif" readonly/>

                    </div>
                    <div class="p-field p-sm-4">
                        <label for="nombreJoureHommeRetard">NbrJrsRetard</label>
                        <input type="number" pInputText id="nombreJoureHommeRetard" [(ngModel)]="selected.nombreJoureHommeRetard" readonly/>
                    </div>
                    <div class="p-field p-sm-4">
                        <label for="avancement">Avancement</label>
                        <input type="number" pInputText id="avancement" [(ngModel)]="selected.avancement" readonly/>
                    </div>
                </div>
            </p-tabPanel>
            <p-tabPanel header="Equipes" leftIcon="pi pi-user" >
                <div class="p-field">
                    <app-admin-projet-equipe-view-list></app-admin-projet-equipe-view-list>
                </div>
            </p-tabPanel>
        </p-tabView>


    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Fermer" icon="pi pi-times" class="p-button-text" (click)="hideViewDialog()"></button>
    </ng-template>
</p-dialog>
